<div class="large-text"> RSVP </div>
<div class="large-ribbon"> <%= image_tag("for.png") %> </div>
<div class="engagement-font"> the engagement soiree </div>
<%= form_tag groups_path, method: 'get' do |f|%>
  <%= text_field_tag :random_group_id, params[:random_group_id], placeholder: "YOUR GROUP ID" %>
  <%= submit_tag "Submit" %>
<% end %>