<div class="small-ribbon"> <%= image_tag("group-info.png") %> </div>
<%= form_for @group do |f| %>
  <%= f.text_field :email, placeholder: "Email Address" %>
  <%= f.submit "Submit" %>
<% end %>
<p> So we can remind you and send you detailed direction if you can make it and to keep your updated if you can't! </p>